services:
  api-server:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    expose:
      - "3001"
    networks:
      - app-network
    depends_on:
      - redis
      - mongo

  gateway:
    build:
      context: .
      dockerfile: ./apps/gateway/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://root:example@mongo:27017
      - API_URL=http://api-server:3001
    depends_on:
      - api-server
    networks:
      - app-network

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  mongo:
    container_name: mongodb
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - api-server
      - gateway
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
