services:
  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"

  mongo:
    container_name: mongodb
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
